body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 2.5rem;
}
@media (max-width: 767.98px) {
  .header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    box-shadow: 0px 1px 2px #9b9b9b;
    padding: 0rem 0rem 0.2rem 0rem;
  }
}
.header__title {
  width: 100%;
  padding: 2rem;
  background: url("../assets/riachuelo.svg") no-repeat center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .header__title {
    padding: 1.2rem;
    background: url("../assets/rchlo.svg") no-repeat center;
  }
  .header__title___icon {
    width: 30px;
    height: 35px;
    font-size: 0.8rem;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background: url("../assets/menu.svg") no-repeat top;
    color: #000;
  }
  .header__title___icon::after {
    content: "menu";
  }
  .header__title___icon:hover {
    background: url("../assets/close-icon.svg") no-repeat top;
  }
  .header__title___icon:hover::after {
    content: "close";
  }
  .header__title___menu, .header__title___close {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767.98px) {
  .header__title > sub {
    color: #ccc;
    font-size: 0.6rem;
  }
}
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: 0;
  color: #9b9b9b;
  font-weight: bold;
}
.header__search__input {
  outline: 0;
  border: 0 none;
  box-shadow: none;
  width: 100%;
  color: #9b9b9b;
  font-weight: bold;
  font-size: 0.9rem;
}
.header__search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  color: #9b9b9b;
  height: 1rem;
  width: 1rem;
  background: url("../assets/close-icon.svg") no-repeat center;
}
.header__search__icon {
  padding: 0 0.5rem;
  color: #ccc;
}
.header__search:hover, .header__search:focus {
  border: 1px solid #000;
}
.header__nav {
  width: 100%;
}
.header__nav___list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 2.5rem;
}
@media (max-width: 767.98px) {
  .header__nav___list {
    display: none;
  }
}
.header__nav___list > li > a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.header__nav___list > li > a:visited {
  color: #000;
}
.header__nav___list > li > a:hover {
  border-bottom: 2px solid #000;
}

.breadcrumbs {
  margin: 0rem 3rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid #ccc;
}
.breadcrumbs__list {
  display: flex;
  color: #9b9b9b;
  font-weight: bold;
}
.breadcrumbs__list > li > a, .breadcrumbs__list > li > a:active, .breadcrumbs__list > li > a:visited {
  text-decoration: none;
  color: #9b9b9b;
}
.breadcrumbs__list > li:last-child {
  color: #000;
}
.breadcrumbs__list li:not(:last-child)::after {
  content: "/";
  margin: 0 1rem;
}
@media (max-width: 767.98px) {
  .breadcrumbs {
    display: none;
  }
}

.filters {
  margin: 0rem 3rem;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid #ccc;
}
.filters__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.filters__list > li:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (max-width: 767.98px) {
  .filters {
    display: none;
  }
}

.products {
  margin: 0rem 3rem;
  height: auto;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
}
.products__list___description {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
.products__list___price {
  font-weight: 800;
  text-align: center;
}
.products__list > li {
  width: 23%;
  margin-right: 2%;
}
.products__list___img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .products {
    margin: 7rem 0rem 0rem 0rem;
  }
  .products__list > li {
    width: 48%;
    margin: 1%;
  }
}

.footer__header {
  display: flex;
  align-items: center;
  margin: 1rem 3rem;
  flex-wrap: wrap;
}

.offers {
  flex-grow: 2;
  display: flex;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  flex-wrap: wrap;
}
.offers__form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}
.offers__form___input {
  border: 0 none;
  outline: 0;
  box-shadow: 0;
  border-bottom: 2px solid #9b9b9b;
  height: 1.2rem;
  flex-grow: 2;
  margin: 0 1rem;
}
.offers__form___button {
  font-weight: bold;
  border: 0 none;
  border-radius: 5px;
  height: 2rem;
  flex-grow: 1;
}
.offers__form > select {
  border: none;
  border-bottom: 2px solid #000;
  height: 1.5rem;
  font-family: "Roboto", sans-serif;
  width: 10rem;
  flex-grow: 1;
}
.offers__form > select > option {
  font-family: "Roboto", sans-serif;
}
.offers__form > select:active, .offers__form > select:focus {
  border: none;
  border-bottom: 2px solid #9b9b9b;
}

.offers > p {
  margin: 0.8rem 0.5rem;
  font-weight: bold;
}

.mobile-apps {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
}

.mobile-apps > p {
  margin: 0 1rem;
}

.mobile-apps > img {
  height: 2rem;
}

/*# sourceMappingURL=styles.css.map */
