// HEADER
$container-margin: 2.5rem;

// colors
$light-gray: #ccc;
$gray: #9b9b9b;
$black: #000;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% $container-margin;
  

  @include for-phone-only { 
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    box-shadow: 0px 1px 2px $gray;
    padding: 0rem 0rem 0.2rem 0rem;
  }

  &__title {
    width: 100%;
    padding: 2rem;

    background: url("../assets/riachuelo.svg") no-repeat center;

    display: flex;
    flex-direction: column;

    @include for-phone-only {
      padding: 1.2rem;

      background: url("../assets/rchlo.svg") no-repeat center;

      &___icon {
        width: 30px;
        height: 35px;
        font-size: 0.8rem;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        background: url('../assets/menu.svg') no-repeat top;
        color: #000;
      }

      &___icon::after {
        content: "menu";
      }

      &___icon:hover {
        background: url('../assets/close-icon.svg') no-repeat top;
      }

      &___icon:hover::after {
        content: "close";
      }

      &___menu, &___close {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__title > sub {
    @include for-phone-only {
      color: $light-gray;
      font-size: 0.6rem;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    border: 1px solid $light-gray;
    border-radius: 0.5rem;

    outline: 0;

    color: $gray;
    font-weight: bold;

    &__input {
      outline: 0;
      border: 0 none;
      box-shadow: none;
      width: 100%;
      color: $gray;
      font-weight: bold;
      font-size: 0.9rem;
    }

    &__input::-webkit-search-cancel-button {
      -webkit-appearance: none;

      color: $gray;

      height: 1rem;
      width: 1rem;

      background: url("../assets/close-icon.svg") no-repeat center;
    }

    &__icon {
      padding: 0 0.5rem;
      color: $light-gray;
    }
  }

  &__search:hover,
  &__search:focus {
    border: 1px solid $black;
  }

  &__nav {
    width: 100%;

    &___list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      height: 2.5rem;

      @include for-phone-only {
        display: none;
      }
    }

    &___list > li > a {
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8rem;
    }

    &___list > li > a:visited {
      color: $black;
    }

    &___list > li > a:hover {
      border-bottom: 2px solid $black;
    }
  }
}
